body {
	background: url(../blackJack/images/backgrounds/esteban-lopez-OfdFHy1zxjQ-unsplash.jpg) center center / cover
		no-repeat;
	/* background: url(../blackJack/imgs/jack-hamilton-9SewS6lowEU-unsplash.jpg) center center / cover no-repeat; */
}

span {
	color: #ea1c2c;
	/* font-size: 4rem; */
	font-weight: 400;
}

.cardRow {
	background-color: rgb(218, 230, 224);
	border: solid black;
	height: 20vh;
	width: 90vw;
	/* border-radius:; */
}
.hand {
	height: 100%; 
	width: 100%;
}
/* a playing cards dims are 62mm wide by 88mm tall. Width is 0.7045 of the height */
.cardImage {
	height: 100%; 
	width: 0.7045*height;
	transition: image 500ms;
}

/* .row {
	height: 20vh;
	width: 90vw;
} */

/* .button {
	margin: 3rem;
} */
